<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TaxGenie_DAL.Properties.Settings.TaxGenieConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Dev_TaxGenie;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TaxGenie_DAL.Properties.Settings.Prod_TaxGenieConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Dev_TaxGenie;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TaxGenie_DAL.Properties.Settings.Dev_TaxGenieConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Dev_TaxGenie;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>