/*
	Slideshow
*/

#slides {
	position:absolute;
	top:0px;
	left:4px;
	z-index:50;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:490px;
	overflow:hidden;
	position:relative;
	display:none;
	z-index:-1 !important;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/
.slides_container div.slide {
	width:490px;
	height:198px;
	display:block;
	margin-left:4px;

}
.slides_container a {
	width:490px;
	height:198px;
	display:block;
		
}

.slides_container a img {
	display:block;
		
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:304px;
	left:248px;
	width:36px;
	height:37px;
	display:block;
	z-index:101;
}

#slides .next {
	left:702px;
}

/*
	Pagination
*/

.pagination {
	margin:15px auto 0 auto;
	width:80px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:11px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}
/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:952px;
	font-size:0.8em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
	font-family:arial;
}

/*

/*
	Footer
*/

#footer {
	text-align:center;
	width:580px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}

/*
	Anchors


a:link,a:visited {
	color:#599100;
	text-decoration:none;
}

a:hover,a:active {
	color:#599100;
	text-decoration:underline;
}
*/
