.PagerContainerTable
{
    float:right;
	font: bold 13px verdana, arial, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	margin-right:-5px;
}
.PagerContainerTable td
{
	padding:5px;
}
.PagerInfoCell
{
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 3px;
	color: #FFF;
	padding-top: 3px;
	white-space: nowrap;
	background-color: #F49414;
}
.PagerInfoCell:link
{
	color: #ffcc66;
	text-decoration: none;
}
.PagerInfoCell:visited
{
	color: #ffcc66;
	text-decoration: none;
}
.PagerCurrentPageCell
{
	color: #FFF;
	background-color: green;
	cursor:default;
}
.PagerOtherPageCells
{
	background-color: #f0f1f2;
}
.PagerSSCCells
{
	background-color: #cccccc;
}
.PagerHyperlinkStyle
{
}
.PagerHyperlinkStyle:hover
{
	color: #000000;
	text-decoration: none;
}
.PagerHyperlinkStyle:link
{
	color: #000000;
	text-decoration: none;
}
.PagerHyperlinkStyle:visited
{
	color: #000000;
	text-decoration: none;
}
.PagerHyperlinkStyle:active
{
	color: #000000;
	text-decoration: none;
}
.GoToLabel
{
	color:#333333;
	cursor:pointer;
	font-size:65%;
	vertical-align:middle;
	display:inline;
}
.GoToSelect
{
	font-size:55%;
}
.GoToSelectedOption
{
	color:#f9f9f9;
	background-color:#666666;
}

.GoToArrow
{
	vertical-align:middle;
	cursor:pointer;
}